.centerForm {
  margin: 40px auto;
  width: 300px;
}

.topBar {
  background-color: #007bff;
  display: flex;
  border: 1px solid #aedff6;
}

.topBarContainer {
  cursor: pointer;
  width: 100%;
}

.login {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 12.5px;
  margin: 0;
}

.register {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 12.5px;
  margin: 0;
  border-left: 2px solid blue;
}

.active {
  text-decoration: underline;
}

.bodyForm {
  border: 1px solid #aedff6;
}

.formTitle {
  text-align: center;
  margin: 10px;
  font-size: 26px;
}

.formLabel {
  display: block;
  font-size: 14px;
  margin-left: 10%;
  margin-bottom: 0px;
}

.formInput {
  margin-left: 10%;
  width: 80%;
  border: 2px solid #aedff6;
  border-radius: 3px;
  padding: 10px;
  box-shadow: none;
}

.formInput:focus {
  outline: none;
  border: 2px solid #007bff;
  box-shadow: none;
}

.formButton {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.formButton:focus {
  outline: none;
}

.formButton:hover {
  background-color: #0071eb;
  cursor: pointer;
}


@media only screen and (min-width: 992px) {
  .centerForm {
    position: fixed;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
  }
}

@media (max-height: 480px) {
  .centerForm {
    position: static;
    margin: auto;
    left: auto;
    top: auto;
    -webkit-transform: unset;
    transform: unset;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
